/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
}

.hero {
  background: url('./images/Covid\ Banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-hero {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.country {
  background: url('./images/Country\ background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}

.main-bg {
  background-color: #e5e5e5;
}
